.profile {
  height: 210px;
  max-width: 880px;
  margin: auto;
}

.profile__info {
  display: flex;
  align-items: center;
  margin: auto;
}

.profile__info_avatar {
  width: 120px;
  height: 120px;
  margin-left: 0;
  margin-top: 40px;
}

.profile__name {
  width: 445px;
  height: 77px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

.profile__name_names {
  color: white;
  font-family: "Inter";
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin-left: 30px;
  margin-bottom: 16px;
  width: 325px;
}

.profile__name_subname {
  color: white;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-left: 30px;
  margin-top: 0;
}

.profile__name_editbutton {
  width: 24px;
  height: 24px;
  margin-left: 18px;
  cursor: pointer;
}

.profile__name_editbutton:hover {
  opacity: 60%;
}

.profile__info_addbutton {
  width: 150px;
  height: 50px;
  margin-left: 100px;
  cursor: pointer;
}

.profile__info_addbutton:hover {
  opacity: 60%;
}

@media screen and (max-width: 544px) {
  .profile {
    width: 100%;
    height: 364px;
  }
  .profile__info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .profile__info_avatar {
    margin: 42px auto 0;
  }

  .profile__name {
    width: 285px;
    height: 50px;
  }
  .profile__name_names {
    font-size: 22px;
    margin-top: 32px;
    margin-bottom: 0;
    width: 224px;
  }

  .profile__name_subname {
    font-size: 14px;
    margin: auto;
  }

  .profile__name_editbutton {
    width: 18px;
    height: 18px;
    margin-top: 32px;
    margin-left: 0;
  }

  .profile__info_addbutton {
    width: 282px;
    margin: 86px auto 0;
  }
}
